/* Define your custom color variables */
$primary-color: #1D4ED8;
$secondary-color: #9333EA;
$tertiary-color: #F59E0B;
$grey-color: #6B7280;
$blue-color: #000000;
$light-color: #F3F4F6;
$dark-color: #111827;

/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles for Elements */
h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: $primary-color;
}

h2 {
  font-size: 40px;
  line-height: 2.25rem;
  font-weight: 600;
  color: $dark-color;
}

h3 {
  font-size: 1.75rem;
  line-height: 2rem;
  color: $tertiary-color;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.25rem;
}

/* Apply custom background colors */
.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-tertiary {
  background-color: $tertiary-color;
}

.bg-light {
  background-color: $light-color;
}

.bg-dark {
  background-color: $dark-color;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: $grey-color;
}

a {
  font-size: 1rem;
  line-height: 1.5rem;
  color: $blue-color;
  text-decoration: none;

  &:hover {
    color: $primary-color;
  }
}

span {
  font-size: 1rem;
  line-height: 1.5rem;
}

.p-top{padding-top: 100px;}
.p-bottom{padding-bottom: 100px;}