@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
// .manrope-<uniquifier> {
//   font-family: "Manrope", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

:root {
  font-family:"Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
body{
  margin: 0;
  padding: 0;
}


/* Define your custom color variables */
$primary-color: #1D4ED8;
$secondary-color: #9333EA;
$tertiary-color: #ffd05c;
$grey-color: #1D1F22;
$blue-color: #000000;
$light-color: #F3F4F6;
$dark-color: #111827;

/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles for Elements */
h1 {
  font-size: 2.25rem;
 
  color: $primary-color;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  color: $dark-color;
  letter-spacing: 1px;
}

h3 {
  font-size: 26px;
  font-weight: 500;
  color: $dark-color;
  letter-spacing: 1px;
}

h4 {
  font-size: 1.5rem;
 
}

h5 {
  font-size: 1.25rem;

}

h6 {
  font-size: 1rem;

}

/* Apply custom background colors */
.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-tertiary {
  background-color: $tertiary-color;
}

.bg-light {
  background-color: $light-color;
}

.bg-dark {
  background-color: $dark-color;
}
.text-light{
  color: $light-color;
}
.text-dark{
  color: $dark-color;
}
.text-yellow{
  color: $tertiary-color;
}

p {
  font-size: 20px;
  color: $grey-color;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
}

a {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  // &:hover {
  //   color: $primary-color;
  // }
}
.btn{
  padding:10px 28px;
  border-radius: 20px;
  font-size: 16px;
  transition: ease-in-out 0.3s;
}
.black-btn{
  color: $light-color;
  border: 1px solid $dark-color;
  background-color: $dark-color;
  &:hover{
    background-color: $light-color;
    color: $dark-color;
    border: 1px solid $dark-color;
  }
}
.white-btn{
  color: $dark-color;
  border: 1px solid $light-color;
  background-color: $light-color;
  &:hover{
    background-color: $dark-color;
    color: $light-color;
    border: 1px solid $light-color;
  }
}
.shadow-light{
  -webkit-box-shadow:inset  0px 0px 0px 0.3px $light-color;
-moz-box-shadow:inset  0px 0px 0px 0.3px $light-color;
box-shadow:inset  0px 0px 0px 0.3px $light-color;
transition: ease-in-out 0.3s;
&:hover{
  box-shadow:inset  0px 0px 0px 1px $light-color;
}
}
.text-stroke-yellow{
  -webkit-text-stroke-width: 2px;   
  -webkit-text-stroke-color: $tertiary-color;   
}

span {
  font-size: 1rem;
  line-height: normal;
}

.p-top{padding-top: 100px;}
.p-bottom{padding-bottom: 100px;}


// animation
.tabscale{
  transition: color .3s ease,transform .2s ease,-webkit-transform .2s ease
}
.banner-form{
  border: 1px solid black;
  width: 100%;
}
form{
  display: flex;
  justify-content: center;
}
input, select{
  width: 100%;
}
button{
  text-align: center;
}
.button-text{
  display: flex;
  justify-content: center;
}
.banner-form div{
  padding: 0px 20px;
  margin-bottom: 20px;
}
.banner-form input, .banner-form select{
  padding: 8px;
}
em {
font-style: normal;
}
option {
  color: #000 !important;
}